body {
	background-color: #2ab5bd;
	margin-top: 100px;
}

#container {
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	width: 22%;
	padding-top: 0%;
	font-weight: 200;
	border: 6px solid black;
}

#inputScreen {
	width: 96%;
	height: 140px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 600%;
}

#operations {
	display: flex;
	justify-content: space-around;
}

#addition, #subtraction, #multiplication, #division {
	background-color: #9adaed;
	margin-top: 4px;
    width: 23%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addition:hover, #subtraction:hover, #multiplication:hover, #division:hover {
	background-color: #1100ff;
	color: white;
}

#numbers789, #numbers456, #numbers123 {
	display: flex;
}

#numbers789 div, #numbers456 div, #numbers123 div{
	background-color: #f0eded;
	margin: 4px;
    width: 23%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numbers789 div:hover, #numbers456 div:hover, #numbers123 div:hover {
	background-color: #9da1a8;
}

#equals {
	height: 800px;
}