body {
	margin: 0;
}

#header {
	padding-bottom: 0px;
}

#listHeader {
	margin-top: 0px;
	padding-bottom: -30px;
	margin-bottom: 0;
	color: white;
	background-color: #5e585c;
	display: flex;
	border-bottom: 1px gray solid;
	font-size: 110%;

}

#listHeader span {
	color: #b89827;
}

#subheader a {
	text-decoration: none;
	color: white;
}

#subheader a:hover {
	color: #b89827;
}

#subheader img {
	width: 100px;
	height: 100px;
	background-color: #5e585c;
	margin-top: -20px;
}

#listHeader li {
	margin: 20px;
	margin-bottom: 0px;
	margin-top: 11px;
	padding-bottom: 0px;
	list-style-type: none;
	padding-right: 30px;
	border-right: 1px gray solid;
	border-right-height: 5px;
}

#listHeader a {
	margin-left: auto;
}

li img {
	height: 30px;
	width: 30px;
}

#subheader {
	color: white;
	background-color: #5e585c;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 30px;
}

#orderonline a:hover {
 color: black;
}

#subheader li {
   font-size: 120%;
   margin: 20px 15px;
   list-style-type: none;
}

.push {
 margin-right: auto;
}

li button {
	width: 150px;
	height: 70px;
	background-color: red;
	border-color: red;
	font-size: 100%;
	color: white;
	font-weight: bold;
	
}

#orderonline {
/*	margin-top: -55px;*/
box-shadow: 10px 5px 5px black;
}

#underbodytext {
	background-color: #5e585c;
	color: white;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 210%;
}

#bodytext {
	list-style: none;
	font-size: 150%;
}

#bodytext span {
	color: #b89827;
}

#mainbody {
 display: flex;
 height: 500px;
}

#mainbody img {
	width: 800px;
	height: 100%;
}

#bodypictext {
	color: white;
	background-color: black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 400%;
}

h2 {
	text-align: center;
	color: #383735;
	border-bottom: 1px solid red;
}